<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title><% seo.title %> | Chnforo</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="<% seo.description %>" />
	<meta name="keywords" content="<% seo.keywords %>" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19720909-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

 </script>

</head>
<body>

<div id="header">
        <p id ="lang">
           <% FOREACH language IN languages %>
           	<a href="/<% language %>" title="chnforo languages"><% language %></a>|
            <% END %>
        </p>
	<p id ="logo"><a href="/" title="chnforo home">Chnforo</a></p>
	<h1><% seo.title %></h1>
	
	<div id="layoutdims">  
		<div id="searchform">
	        <form action="/<% lang %>/search" id="searchform" method="post">
				<input type="text" id="keyword" name="keyword" value="">
				<input type="image" value="search" id="searchsubmit" src="/css/images/btn_search.png">
	       </form>
	       </div>
		<a href="/<% lang %>">Home</a>  
		<a href="/<% lang %>#">Tags</a>   
		<a href="/<% lang %>#">About</a>  
		<a href="/<% lang %>/sitemap/1">Sitemap</a>
	</div>
</div>
<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
		        
			<% content %>
			<div class="col2">
				<!-- Column 2 start -->
				<h2>Recent</h2>
				 <ul class="list"> 
				    <% FOREACH article IN articles %>
				    	 <li><a href="/<% lang %>/<% article.title_slug %>/<% article.id %>" title="<% article.title %>"><% article.title %></a></li> 	 	
				    <% END %>
                                </ul> 
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
				<h2>Categories</h2>
				
				    <% FOREACH category IN categories %>
				    	 <h3><a href="/<% lang %>/category/<% category %>/1" title="<% category %>"><% category %></a></h3> 	
				    <% END %>
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>Created by <a href="#">Con mucho amor</a>  </p>
</div>
