<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//<% lang %>" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<% lang %>">
<head>
	<title><% seo.title %> | Knowledge forum </title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="<% seo.description %>" />
	<meta name="keywords" content="<% seo.keywords %>" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19720909-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

 </script>

</head>
<body>

<div id="header">
        <p id ="lang">
           <% FOREACH language IN languages %>
           	<a href="/<% language %>" title="Knowrepository languages"><% language %></a>|
            <% END %>
        </p>
	<p id ="logo"><a href="/" title="Knowrepository home">Knowrepository</a></p>
	<h1><% seo.title %></h1>
	
	<div id="layoutdims">  
		<div id="searchform">
	        <form action="/<% lang %>/search" id="searchform" method="post">
				<input type="text" id="keyword" name="keyword" value="">
				<input type="image" value="search" id="searchsubmit" src="/css/images/btn_search.png">
	       </form>
	       </div>
		<a href="/<% lang %>">Home</a>  
		<a href="/<% lang %>/sitemap/1">Sitemap</a>
	</div>
</div>
<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
		        
			<% content %>
			<div class="col2">
				<!-- Column 2 start -->
				<h2>Recent</h2>
				 <ul class="list"> 
				    <% FOREACH my_article IN articles %>
				    	 <li><a href="/<% lang %>/<% my_article.title_slug %>/<% my_article.id %>" title="<% my_article.title %>"><% my_article.title %></a></li> 	 	
				    <% END %>
                                </ul> 
                                
                                <h2>Tags</h2>
                                <% cloud_html %>
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<div style="float:left;">
				<!-- Column 3 start -->
				<h2>Categories</h2>
				
				    <% FOREACH category IN categories %>
				    	 <h3><a href="/<% lang %>/category/<% category.slug %>/1" title="<% category.name %>"><% category.name %></a></h3> 	
				    <% END %>
				 </div>
				 <div style="float:right;">
                                        <% IF (article.category == 'Linux') %>
                                            <a href="http://www.bookdepository.co.uk/search?searchTerm=linux&a_aid=qe5zt"><img style="border:0" src="/images/ads_linux.png" width="150" height="942" alt="Linux"></a>
				        <% ELSIF (article.category == 'Cluster') %>
                                        <a href="http://www.bookdepository.co.uk/search?searchTerm=linux+cluster&a_aid=qe5zt"><img style="border:0" src="/images/ads_cluster.png" width="150" height="942" alt="Linux"></a>	

				        <% ELSIF (article.category == 'Solaris') %>
                                        <a href="http://www.bookdepository.co.uk/search?searchTerm=solaris&a_aid=qe5zt"><img style="border:0" src="/images/ads_solaris.png" width="150" height="942" alt="Linux"></a>	
                                        <% ELSE %>
				 	<a href="http://www.bookdepository.co.uk?a_aid=qe5zt&amp;a_bid=98ad59c8"><img src="http://affiliates.bookdepository.co.uk/accounts/default1/banners/120-x-600-1.jpg" alt="The BookDepository" title="The BookDepository" width="120" height="600" /></a>
					<% END %> 
				</div>
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>Created by <a href="#">Con mucho amor</a>  </p>
</div>
