			
			<div class="col1">
				
				<!-- Column 1 start -->
				<% FOREACH article IN main_articles %>
					<h2><a href="/<% lang %>/<% article.title_slug %>/<% article.id %>" title="<% article.title %>"><% article.title %></a></h2>
					<p> 
					
					<% article.summary %>...
		
					</p>
				<% END %>
				
				 <% pager %>
				<!-- Column 1 end -->
			</div>
			
