<div class="col1">
				<!-- Column 1 start -->
				<h2><% articulo.url_text %></h2>
				
				<p>Esta es la url original <% articulo.url %>.</p>
				<h3>Mostrando el articulo <% params.id %></h3>
				<p> <% texto %></p>
				
				<!-- Column 1 end -->
			</div>
			

